<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="APP_NAME" value="vetautet"/>
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOG_STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "mv_date": "%d{yyyy-MM-dd HH:mm:ss:SSS}",
                        "mv_appName": "%property{APPLICATION_NAME}",
                        "mv_thread": "%thread",
                        "mv_collectionId": "%X{COLLECTION_ID}",
                        "mv_level": "%level",
                        "mv_logger": "%logger{40}",
                        "mv_message": "%msg%n"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%property{APPLICATION_NAME}] [%thread] %-5level [%X{COLLECTION_ID}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOG_STASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
